doctype html
html
    head
        title Re:Dive Gotcha - !{ page }
        link(rel="shortcut icon", href="/static/images/sticker.png", type="image/png")
        link(rel="stylesheet" href=`/static/css/${page}.css`)
    body
        #main
            .board
                each char in charList
                    case char.star
                        when 1
                            -var frameClass = "blue"
                        when 2
                            -var frameClass = "gold"
                        when 3
                            -var frameClass = "rainbow"
                    .char(class=frameClass)
                        img(src="/static/images/card/" + char.name + ".png")
                else
                    .no-list #[strong 壞惹]