body {
    font-family: 'Microsoft JhengHei', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body::before {
    bottom: 0;
    content: '';
    background: url('/static/images/sticker.png') 25% 25%;
    height: 100%;
    left: 0;
    min-height: 100%;
    opacity: 0.1;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

div#main {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    position: relative;
    text-align: center;
    width: 100%;
}

form#board {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    height: 100%;
    padding: 80px 0;
    width: 90%;
}

div.char {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: flex-start;
    width: 180px;
}

div.char > div.frame {
    align-items: center;
    border-radius: 10px;
    box-shadow: 
        3px 3px 5px 1px rgba(0, 0, 0, 0.5),
        0px 0px 5px 3px rgba(255, 255, 255, 0.7) inset;
    display: flex;
    height: 120px;
    justify-content: center;
    margin: 5px 0;
    width: 120px;
}

div.char > div.frame.blue {
    background: skyblue;
}

div.char > div.frame.gold {
    background: gold;
    
}

div.char > div.frame.rainbow {
    background: linear-gradient(to bottom right, orange , yellow, green, cyan, blue, violet);
}

div.char > div.frame > img {
    height: 104px;
    width: 104px;
}

div.char > div.name,
div.char > div.info,
div.char > div.footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: center;
}

div.char > div.footer {
    align-items: flex-end;
    height: 80px;
}

div.char > div.footer label.rate > input[type=text] {
    height: 12px;
    text-align: center;
    width: 40px;
}

input.update,
input.reset {
    font-size: 20px;
    height: 35px;
    position: fixed;
    width: 80px;
}
input.update {
    right: 20px;
    top: 20px;
}

input.reset {
    right: 20px;
    top: 60px;
}

.grayscale {
    filter: grayscale(100%);
}

.hidden {
    display: none;
}